@{
    ViewBag.Title = "Arhive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        <h4>Result history for tested web sites.</h4>
        <hr />
        <table id="domainsGrid"></table>
    </div>
</div>

@Scripts.Render("~/Scripts/Measurement/UrlsArhiveGridControl.js")

<script type="text/javascript">
    arhiveGridControl.initializeDomainsGrid();
</script> 